.head-section {
  text-align: center;
  background-color: hsl(2, 57%, 40%);
  background-color: #0069ab;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  padding-top: 50px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.foot-section {
  background-color: hsl(2, 57%, 40%);
  background-color: #0069ab;
  background-image: url("/img/batthern.png");
  padding-bottom: 50px;
  padding-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.projects-section{
  padding-top: 10px;
  padding-bottom: 30px;
}

.ui.bordered.image img{
  border-width: 10px !important;
}

.blue{
  color: #0069ab;
}

.green{
  color: #21BA45;
}

.black{
  color: black;
}

em{
  color: #0069ab;
  font-weight: 500;
}

.extra a{
  color: #d83a31 !important;
  padding-right: 30px;
}

.extra a:hover{
  color: #ea6c64 !important;
}

.yearinheader{
  float:right;
  font-size: 0.8em;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.87);
}

.languageLabel{
  padding: 3px !important;
  margin: auto 3px !important;
}

.skillLabel{
  margin: 2px 2px !important;
}

.jobdesc{
  color: rgba(0, 0, 0, 0.7);
}

.explist div{
  font-size: 1em !important;
}

.stackable.menu>a{
  justify-content: center;
}

.stackable.menu>div.right.menu>div.ui.buttons{
  width:100%;
}

.profileheader{
  font-size: 1.3em !important;
}

.profilepoint{
  font-size: 1.1em !important;
}

.centertext{
  text-align: center;
}

.ui.list > .item.justifytext > .content {
  text-align: center !important;
  line-height: 1.5em;
}

.ui.menu{
  margin: 0 !important;
}

.ui.segment.paddingsegment{
  padding-left: 30px;
  padding-right: 30px;
}

.ui.container.educontainer{
  margin-left: 15px;
}
.ui.text.container.storycontainer{
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 767px) {
  .ui.container.nomargin {
    margin: 0 !important;
  }
  .head-section{
    box-shadow: none;
  }
  .projects-section{
    padding-top: 0;
  }
  div.nice-header.smallen {
    font-size: 2.2em !important;
  }
  .ui.stackable.menu .item.notstack{
    width: auto !important;
  }
  .ui.stackable.menu{
    flex-direction: row !important;
  }
  .ui.stackable.menu .right.menu.notstack {
    margin-left: auto !important;
  }
  .right.menu{
    width: 228px;
  }
}
@media only screen and (max-width: 560px) {
  .ui.stackable.menu{
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .ui.stackable.menu .item.notstack{
    width: 33.33% !important;
    padding-left: 0;
    padding-right: 0;
  }
  .ui.stackable.menu .right.menu.notstack {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .ui.segment.paddingsegment{
    padding-left: 10px;
    padding-right: 10px;
  }
  .ui.container.educontainer{
    margin-left: 1em;
  }
  .ui.text.container.storycontainer{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
