@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url('../public/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-size: 11pt !important;
  font-family: 'OpenSans', sans-serif !important;
  background-color: #FCFCFD;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'OpenSans', sans-serif !important;
}

.ui.header{
  font-family: 'OpenSans', sans-serif !important;
}

.ui.white{
  color: white;
}
